<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Weather Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather Data</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

     <ion-item>
       <ion-label position="floating">Enter City Name</ion-label>
       <ion-input [(ngModel)]="city"></ion-input>
     </ion-item>

      <ion-button expand="full" color="danger" (click)="searchPressed()">Search</ion-button>
  

  <ion-card *ngIf="weather">
  <div>
    <h3>{{weather.dt}}</h3>
    <img src="https://openweathermap.org/img/wn/02d@2x.png">
    <p>{{weather.weather[0].main}}</p>
    <p>{{weather.main.temp - 273.15}}<p>
    <p>Pressure<p>
    <p>Humidity<p>
  </div>
</ion-card>
</div>
</ion-content>

